h1 { /** gros titre */
  font-family: serif;        
  background: #1E90FF none;   
  color: black;               
  border: 5px dotted #FFFF00; 
  padding: 0.5em;             
  text-align: center;         
  letter-spacing: 0.1em;     
}
h2 { /** Les titres de paragraphes */
  text-decoration: underline;
  font-variant : small-caps;  
  color: #F00000;             
}
h3 { /** Les sous-titres (titres de niveau 3) */
  color: #FF00FF;             
  font-style: underline;        
  text-indent: 1em;          
}

h5{
 text-align: center;   
 border-width:3px;
 border-style:double;
 border-color:blue;
}
